section{
  width: 500px;
  height: 500px;
  background-color: magenta;
}

#rgba{
  width: 50%;
  height: 50%;
  background-color: #07e9b8c7;
}

#opacity{
  width: 50%;
  height: 50%;
  background-color: yellow;
  opacity: 0.5;
}