img {
  width: 30%;
/*   margin: 1.6666666%; */
  margin: calc(10%/6);
}

/* 30 + 30 + 30 = 90%

100 - 90 = 10%

10 / 6 (because there are 2 "margins" on each photo, left and right) = 1.66666% */

/* ** Easier way is to use - margin: calc(); ** */

nav{
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  border-bottom: 2px solid #f1f1f1;
  width: 30%;
  margin-left: calc(10%/6);
  padding: 1.2em 0;
}